@import '../scss/fonts.scss';
@import '../scss/variables.scss';
@import '../scss/code.scss';
@import '../scss/header.scss';
@import '../scss/footer.scss';
@import '../scss/post-item.scss';
@import '../scss/home.scss';
@import '../scss/post.scss';

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
span,
td,
li {
  font-family: $primary-font-family;
}

body,
h4,
h5,
h6,
p,
label,
span,
li {
  color: $primary-text-color;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3 {
  color: $primary-title-text-color;
}

html {
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  // Scrollbar track
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  // Scrollbar thumb (the draggable part)
  &::-webkit-scrollbar-thumb {
    background-color: $colors-gray-800;
    border-radius: 4px;
  }

  // Optional: Scrollbar thumb on hover
  &::-webkit-scrollbar-thumb:hover {
    background-color: $colors-gray-900;
  }

  // Optional: Scrollbar track (background area)
  &::-webkit-scrollbar-track {
    background-color: $colors-gray-950;
  }
}


a {
  color: $primary-color;
  font-weight: $bold;
}

pre h1,
pre h2,
pre h3,
pre h4,
pre h5,
pre h6,
pre p,
pre a,
pre label,
pre span,
table h1,
table h2,
table h3,
table h4,
table h5,
table h6,
table p,
table a,
table th,
table tr,
table td,
table label,
table span {
  font-family: $code-font-family;
}

li::marker {
  color: $primary-text-color;
}

body {
  margin: 0;
}

html,
body {
  background-color: $background-app-color;
}

.main-content {
  padding: 0;
  max-width: $max-width--desktop;
  margin-top: $topbar-height;
  width: 100%;
  padding-top: $topbar-height;
  min-height: calc(100vh - ($topbar-height * 2) - $footer-height - 24px)
}

.chat-send-button {
  background-color: $primary-color;
}

.top-bar-header {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  height: $topbar-height;
  padding: $app-padding;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: $background-app-color;
  padding: $app-padding;
}

.background {
  max-width: $max-width--desktop;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.05;
  pointer-events: none;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-image: radial-gradient(#5EEAD4 0%, rgba(94, 234, 212, 0) 60%); 
  z-index: 0;
  left: 30%;
  top: -20%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.logo-image-background {
  height: 710px;
  width: 100%;
  top: 25%;
  position: relative;
}

.post-link {
  text-decoration: none;
}

.markdown-body h1 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.02em;
  font-weight: $bold;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 0;
}

.markdown-body p,
.body-text {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: $regular;
  margin: 0;
}

.markdown-body h1,
.heading-h1 {
  font-size: 25px;
  line-height: 36px;
  letter-spacing: 0.02em;
}

.heading-h1 {
  font-weight: $semi-bold;
  margin: 0;
}

.markdown-body h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.sub-heading {
  margin: 0;
}

.sub-heading,
.markdown-body h2 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: $semi-bold;
}

.markdown-body h3 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: $semi-bold;
  margin: 20px 0 10px;
}

.markdown-body span,
.markdown-body code {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: $medium;
}

.ai-message {
  background-color: $esmerald-green-faded;
  color: $white;
}

@media (min-width: 992px) {
  .heading-h1 {
    font-size: $font-size-5xl;
    line-height: 3.75rem;
  }

  .greeting-heading {
    font-size: $font-size-xl;
    line-height: 1.875rem;
    color: $secondary-text-color
  }

  .markdown-body h1 {
    border-bottom: 1px solid $primary-color;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.02em;
    padding-bottom: 20px;
    margin-bottom: 40px;
  }

  .markdown-body h2 {
    font-size: 28px;
    line-height: 32px;
    font-weight: $semi-bold;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .h3 {
    font-size: 20px;
    line-height: 24px;
  }

  .markdown-body p,
  .body-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
  }

  .markdown-body span,
  .markdown-body code {
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
  }

  .date-container .date-text {
    font-size: 22px;
    line-height: 30px;
  }

  .date-container {
    margin-top: 30px;
  }
}

