@import './variables.scss';

.post-link {
  text-decoration: none;
}

.post-link,
.post-item__card {
  outline: none;
}

.post-item__card {
  gap: $card-gap;
  padding: $card-padding;
  border-radius: $card-border-radius;
  background-color: $background-card-color;
  border: 1px solid $background-card-border-color;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
}

.post-item-tags__container {
  display: flex;
  align-items: center;
  gap: $spacing-2;
  flex-wrap: wrap;
}

.post-item-tag {
  border-radius: $radii-sm;
  gap: $spacing-1;
  font-weight: $font-weight-semibold;
  background: $background-tag-color;
  color: $tag-color;
  font-size: $font-size-xs;
  line-height: 1rem;
  padding-inline: $spacing-2;
  min-height: $spacing-5;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-link:last-child .post-item__card {
  border-bottom: none;
}

.post-link:hover .title-container p {
  color: $primary-color;
}

.title-container p,
.date-container p,
.meta-text {
  margin: 0;
}

.date-container p {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  font-weight: $font-weight-bold;
  color: $primary-color;
}

.title-container p {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  font-weight: $font-weight-semibold;
}

.meta-text {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  font-weight: $font-weight-normal;
}

.date-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.markdown-body h1 {
  border-bottom: 1px solid var(--separator-colors);
  padding-bottom: 20px;
  margin-top: 0;
}

@media (min-width: 992px) {
  .date-container p {
    font-size: $font-size-sm;
    line-height: 1.5rem;
    color: $secondary-text-color;
  }

  .title-container p {
    font-size: $font-size-lg;
    line-height: 1.75rem;
  }

  .meta-text {
    font-size: $font-size-sm;
    line-height: 1.5rem;
    color: $secondary-text-color;
  }

  .post-item__card {
    padding: 25px 20px;

    .date-container {
      margin-top: 0;
    }
  }
}
