$max-width--desktop: 992px;

$padding-xs: 20px;
$header-height-lg: 60px;

$border-radius: 3px;

$topbar-height: 56px;
$footer-height: 101px;

$primary-font-family: "Inter","Inter Fallback";
// $primary-font-family: 'Montserrat', sans-serif;
$code-font-family: Roboto Mono, Consolas, Monaco, Andale Mono, Ubuntu Mono,
  monospace;

$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 600;
$extra-bold: 600;

// Colours

$black: #202122;
$white: #ededed;
$faded-white: #eceff1;
$light-grey: #494949;
// $bright-grey: #2e2e2e;
// $green: #0f9d58;
$blue: #4285f4;
$grey: #dedede;
// $yellow: #f4b400;

$dark-black: #0f0f0f;
$esmerald-green: #00c990;
$esmerald-green-faded: #00c99080;

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-2xl: 1.5rem;
$font-size-3xl: 1.875rem;
$font-size-4xl: 2.25rem;
$font-size-5xl: 3rem;
$font-size-6xl: 3.75rem;
$font-size-7xl: 4.5rem;
$font-size-8xl: 6rem;
$font-size-9xl: 8rem;

$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 1rem;
$spacing-5: 1.25rem;
$spacing-6: 1.5rem;
$spacing-7: 1.75rem;
$spacing-8: 2rem;


$colors-teal-100: #ccfbf1;
$colors-teal-200: #99f6e4;
$colors-teal-300: #5eead4;
$colors-teal-400: #2dd4bf;
$colors-teal-500: #14b8a6;
$colors-teal-600: #0d9488;
$colors-teal-700: #0c5d56;
$colors-teal-800: #114240;
$colors-teal-900: #032726;
$colors-teal-950: #021716;

$colors-gray-50: #fafafa;
$colors-gray-100: #f4f4f5;
$colors-gray-200: #e4e4e7;
$colors-gray-300: #d4d4d8;
$colors-gray-400: #a1a1aa;
$colors-gray-500: #71717a;
$colors-gray-600: #52525b;
$colors-gray-700: #3f3f46;
$colors-gray-800: #27272a;
$colors-gray-900: #18181b;
$colors-gray-950: #111111;

$radii-none: 0;
$radii-2xs: 0.0625rem;
$radii-xs: 0.125rem;
$radii-sm: 0.25rem;
$radii-md: 0.375rem;
$radii-lg: 0.5rem;
$radii-xl: 0.75rem;
$radii-2xl: 1rem;
$radii-3xl: 1.5rem;
$radii-4xl: 2rem;
$radii-full: 9999px;



$background-app-color: #0a0a0b;
// $background-app-color: radial-gradient(circle at top left, #ff9a9e, #fad0c4);

$primary-title-text-color: $white;
$primary-text-color: $grey;
$secondary-text-color: $colors-gray-400;

$primary-color: $colors-teal-400;

// Blog Card
$background-card-color: $colors-gray-950;
$background-card-border-color: $colors-gray-800;
$card-padding: $spacing-4;
$card-border-radius: $radii-md;
$card-gap: $spacing-2;

$background-tag-color: $colors-teal-900;
$tag-color: $colors-teal-300;

// Code editor
$background-code-color: $colors-gray-950;
$background-code-border-color: $colors-gray-800;

// Gutter

$app-padding: 0 20px;