$max-width--desktop: 992px;
$max-width--desktop-about-page: 992px;

$padding-xs: 20px;
$header-height-lg: 60px;

$border-radius: 3px;

$topbar-height: 56px;
$footer-height: 101px;

// $primary-font-family: "Inter","Inter Fallback";
$primary-font-family: 'Montserrat', sans-serif;
$code-font-family: Roboto Mono, Consolas, Monaco, Andale Mono, Ubuntu Mono,
  monospace;

// Colours

$black: #202122;
$white: #FFFFFF;
$faded-white: #eceff1;
$light-grey: #494949;
// $bright-grey: #2e2e2e;
// $green: #0f9d58;
$blue: #4285f4;
$grey: #dedede;
// $yellow: #f4b400;

$dark-black: #09090b;
$esmerald-green: #00c990;
$esmerald-green-faded: #00c99080;

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-2xl: 1.5rem;
$font-size-3xl: 1.875rem;
$font-size-4xl: 2.25rem;
$font-size-5xl: 3rem;
$font-size-6xl: 3.75rem;
$font-size-7xl: 4.5rem;
$font-size-8xl: 6rem;
$font-size-9xl: 8rem;

$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 1rem;
$spacing-5: 1.25rem;
$spacing-6: 1.5rem;
$spacing-7: 1.75rem;
$spacing-8: 2rem;


$colors-teal-100: #ccfbf1;
$colors-teal-200: #99f6e4;
$colors-teal-300: #5eead4;
$colors-teal-400: #2dd4bf;
$colors-teal-500: #14b8a6;
$colors-teal-600: #0d9488;
$colors-teal-700: #0c5d56;
$colors-teal-800: #114240;
$colors-teal-900: #032726;
$colors-teal-950: #021716;

$colors-teal-900-faded: #0d948942;


$colors-gray-50: #fafafa;
$colors-gray-100: #f4f4f5;
$colors-gray-200: #e4e4e7;
$colors-gray-300: #d4d4d8;
$colors-gray-400: #a1a1aa;
$colors-gray-500: #71717a;
$colors-gray-600: #52525b;
$colors-gray-700: #3f3f46;
$colors-gray-700-faded: #3f3f4666;
$colors-gray-800: #27272a;
$colors-gray-800-faded: #27272a99;
$colors-gray-900: #18181b;
$colors-gray-925: #171717;
$colors-gray-950: #111111;
$colors-gray-1000: #1e1e1e;

$colors-gray-muted: #9f9fa9;

$radii-none: 0;
$radii-2xs: 0.0625rem;
$radii-xs: 0.125rem;
$radii-sm: 0.25rem;
$radii-md: 0.375rem;
$radii-lg: 0.5rem;
$radii-xl: 0.75rem;
$radii-2xl: 1rem;
$radii-3xl: 1.5rem;
$radii-4xl: 2rem;
$radii-full: 9999px;



$background-app-color--dark-mode: $dark-black;
$background-app-color--light-mode: $white;
// $background-app-color: radial-gradient(circle at top left, #ff9a9e, #fad0c4);

$primary-title-text-color--dark-mode: $white;
$primary-title-text-color--light-mode: $dark-black;

$primary-text-color--dark-mode: $grey;
$primary-text-color--light-mode: $colors-gray-600;

$secondary-text-color--dark-mode: $colors-gray-400;
$secondary-text-color--light-mode: $dark-black;

$primary-color--dark-mode: $colors-teal-400;
$primary-color--light-mode: $colors-teal-600;

$hover-card-background-color--light-mode: $colors-gray-50;
$hover-card-background-color--dark-mode: $colors-gray-900;

$footer-text-color--dark-mode: $colors-gray-muted;
$footer-text-color--light-mode: $dark-black;

$primary-code-text-color--dark-mode: #d4d4d4;
$primary-code-text-color--light-mode: #d4d4d4;

$dropdown-menu-content-background--dark-mode: $colors-gray-900;
$dropdown-menu-content-background--light-mode: $colors-gray-50;

$dropdown-menu-content-item-hover-background--dark-mode: $colors-gray-700-faded;
$dropdown-menu-content-item-hover-background--light-mode: $colors-gray-200;

$pager-duty-color: #048a23;
$peacock-color: #000000;
$rely-color: #006cd9;


// Blog Card
$background-blog-card-color--light-mode: $white;
$background-blog-card-color--dark-mode: $colors-gray-950;

$background-blog-card-border-color--light-mode: $colors-gray-200;
$background-blog-card-border-color--dark-mode: $colors-gray-800;

$background-tag-color--light-mode: $colors-teal-100;
$background-tag-color--dark-mode: $colors-teal-900;
$tag-color--light-mode: $colors-teal-700;
$tag-color--dark-mode: $colors-teal-300;

$card-padding: $spacing-4;
$card-border-radius: $radii-md;
$card-gap: $spacing-2;

// Project section
$project-section-background-color--dark-mode: $colors-gray-900;
$project-section-background-color--light-mode: $colors-gray-50;

$project-card-background-color-hover--light-mode: $colors-gray-200;
$project-card-background-color-hover--dark-mode: $colors-gray-700-faded;

$project-card-border-color--light-mode: $colors-gray-300;
$project-card-border-color--dark-mode: $colors-gray-700-faded;

$project-card-icon-wrapper-color--light-mode: $colors-gray-700;
$project-card-icon-wrapper-color--dark-mode: $colors-gray-700;

// Table Markdown

$hover-table-row-background-color--light-mode: $colors-gray-700;
$hover-table-row-background-color--dark-mode: $colors-gray-700-faded;


// Code editor
$background-code-color--light-mode: $colors-gray-1000;
$background-code-color--dark-mode: $colors-gray-950;

$background-code-border-color--light-mode: $colors-gray-200;
$background-code-border-color--dark-mode: $colors-gray-800;

$background-code-inline-color--light-mode: $colors-gray-100;
$background-code-inline-color--dark-mode: $colors-gray-950;

// Gutter
$app-padding-horizontal-desktop: 50px;

$app-padding-mobile: 0 20px;
$app-padding-desktop: 0 $app-padding-horizontal-desktop;

$blog-grid-gap: $spacing-4;

// Button
$button-primary-background-color: $colors-teal-600;
$button-primary-background-color-hover: $colors-teal-700;
$button-secondary-background-color: $colors-gray-800;
$button-secondary-background-color-hover: $colors-gray-700;

$radial-gradient: radial-gradient(600px at 613px 553px, rgb(45 212 191 / 22%), transparent 80%);